*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #B91450;
}

/* generali */
.container{
    width: 80%;
    margin: 50px auto;
    max-width: 1000px;
}

.row{
    width: 100%;
    background-color: #fff;
}
.col-8{
    width: 80%;
    margin: auto;
}

.col-3{
    width: calc(100% / 3);
    padding: 0px 5px;
}

.col-50{
    width: 50%;  
    height: 100%;  
}

/* disply flex */
.d-flex{
    display: flex;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.j-center{
    justify-content: center;
}

.j-space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

/* display vari */
.d-block{
    display: block;
}

.d-none{
    display: none;
}

/* formattazione */
.text-center{
    text-align: center;
}

.text-uc{
    text-transform: uppercase;
}

.fw-bold {
    font-weight: bold;
}

.fs-0-8{
    font-size: 0.8em;
}

.cl-wh{
    color: #fff;
}

.cl-rd{
    color:#B91450
}

/* spaziature */
.p-1{
    padding: 1rem;
}

.p-1-8{
    padding: 1.8rem;
}

.p-2{
    padding: 2rem;
}

.p-5-px{
    padding: 5px;
}

.p-10-px{
    padding: 10px;
}

.mb-50{
    margin-bottom: 50px;
}

.mx-10{
    margin: 0px 10px;
}

/* border */
.br-30{
    border-radius: 30px;
}

.b-row{
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
}

/* background */
.bg-gr{
    background-color: #808080;
}